[submodule "ext/javacard-sdks"]
	path = ext/javacard-sdks
	url = https://github.com/martinpaljak/oracle_javacard_sdks.git
[submodule "ext/jcardsim"]
	path = ext/jcardsim
	url = https://github.com/licel/jcardsim
